
<div class= "col-sm-12">
  <div class="col-sm-6">
    <div class="row margin-right">
      <div class= "banner-show" style="background-image: url('<%= cl_image_path @tool.image %>')">
      </div>
    </div>

    <div class="row margin-right" style="background-color: white">
      <div class="section title">
        <h3><%= @tool.name %></h3>
      </div>
      <div class="section title price-show">
        <h3><%=@tool.price_per_day%> EUR per day</h3>
      </div>
    </div>

    <div class="row margin-right" style="background-color: white">
      <div class="padding">
        <h3>Details</h3>
        <p><%= @tool.name %></p>
        <p><%= @tool.category %><p>
          <p><%=@tool.description%></p>
          <p><%= @tool.location%></p>
          <div class="book-now">
            <h3><%= link_to "book now", "#jump", class: "btn-treehouse" %></h3>
          </div>
        </div>
      </div>

      <div class="row margin-right" style="background-color: white">
        <div class="padding">
         <img class="card-avatar" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
         <h3> Handyman </h3>
         <p> Max </p>
         <p> Mustermann </p>
         <p> Reviews </p>
       </div>
     </div>
   </div>

   <div class="col-sm-6">

      <div class="row margin-top" style="background-color: white">
        <div id="jump" class="padding margin-right">
          <%= render 'components/bookingform' %>
        </div>
      </div>


    <div class="row margin-top" style="background-color: white">
        <div class="padding">
          <h3>Where to find the tool</h3>
        </div>
          <p><%= @tool.location%></p>
          <div class= flex-map-show>
            <div class="map-show"
            id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
        </div>
    </div>
  </div>
</div>

