
<div>
  <%= link_to 'back to all tools', tools_path %>
</div>
<div class="container">
  <div class="col-xs-12 col-sm-4">
    <div class="column"></div>
       <divcolumn        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      </div>
    <div class="column"></div>
       <div>
        <%= cl_image_tag @tool.photo.identifier, height: 300, width: 400, crop: :fil%>
      </div>

    <div class="column"></div>
       <div>
        <h1><%= @tool.name %></h1>
        <h2><%= @tool.category %></h2>
      </div>

    <div class="column"></div>
        <div>
           <p><%=@tool.description%></p>
        </div>
        <div>
          <h3><%= @tool.location%></h2>
        </div>
      </div>
    </div>
  </div>
</div>
