
<div class= "col-sm-12">
  <div class="col-sm-6">
    <div class="row margin-right">
      <% if @tool.photo.identifier %>
      <div class= "banner-show" style="background-image: url('<%= cl_image_path @tool.photo.identifier %>')">
      </div>
      <% else %>
      <div class= "banner-show" style="background-image: url('<%= cl_image_path @tool.image %>')">
      </div>
      <% end %>
    </div>

    <div class="row margin-right" style="background-color: white">
      <div class="section title">
        <h3><%= @tool.name %></h3>
      </div>
      <div class="section title price-show">
        <h3><%=@tool.price_per_day%> EUR per day</h3>
      </div>
    </div>

    <div class="row margin-right" style="background-color: white">
      <div class="container">
        <h3>Details</h3>
        <p><%= @tool.name %></p>
        <p><%= @tool.category %><p>
          <p><%=@tool.description%></p>
          <p><%= @tool.location%></p>
          <div class="book-now">
            <h3><%= link_to "book now", "#jump", class: "btn-treehouse" %></h3>
          </div>
        </div>
      </div>

      <div class="row margin-right" style="background-color: white">
        <div class="container">
         <img class="card-avatar" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
         <h3> Handyman </h3>
         <p> Max </p>
         <p> Mustermann </p>
         <p> Reviews </p>
       </div>
     </div>
   </div>

   <div class="col-sm-6">
    <div class="margin-top" style="background-color: white">
      <div class="row margin-right">
        <div id="jump">
          <%= render 'components/bookingform' %>
        </div>
      </div>
    </div>
  </div>
</div>
