<div class="container">
  <div class="new-form">
    <div class="form-container">
    <%= simple_form_for @tool do |f| %>
      <%= f.input :image, label: 'Please upload a photo of your tool:'%>
      <%= f.input :name %>
      <%= f.input :category%>
      <%= f.input :available, default: true %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :price_per_day %>
      <div class="form-actions">
        <%= f.button :submit, "Add tool", class: "button" %>
      </div>
    <% end %>
    </div>
  </div>
</div>


<!-- , wrapper_html: { class: 'reduce-width' }
, wrapper_html: { class: 'reduce-width' }
, wrapper_html: { class: 'reduce-width' }  -->
