
<div>
  <%= simple_form_for @tool do |f| %>
    <%= f.input :name %>
    <%= f.input :available, default: true %>
    <%= f.input :description %>
    <%= f.input :photo, label: 'Paste the photo URL' %>
    <%= f.input :category %>
    <%= f.input :location %>
    <%= f.input :price_per_day %>
    <%= f.button :submit %>
  <% end %>
</div>

