<!-- insert your profile header -->
<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <!-- <img src="css/images/ole.jpg" alt="avatar"> -->
      <h1>Your <%= "Booking".pluralize(@bookings.size) %></h1>
    </div>
  </div>
</div>


<div class="container">
  <% @bookings.each do |b| %>
  <div class="product" data-booking-id="<%= b.id %>">
    <!-- <div class="product-upvote">
      <div class="product-arrow"></div>
      <div class="product-count">95</div>
    </div> -->
    <div class="product-image" style="background-image: url('<%= cl_image_path b.tool.image %>');">
          </div>
    <div class="product-body">
      <h3><%= b.tool.name %></h3>
      <p><%= b.tool.price_per_day %> EUR per day</p>
    </div>
    <ul class="list-inline product-controls">
      <li>Booking time:</li>
      <li><%= b.start_date %></li>
      <li>—</li>
      <li><%= b.end_date %></li>
      <li><%= link_to "Remove", booking_path(b), method: :delete, remote: true %></li>
    </ul>
  </div>
  <% end %>
</div>










<!-- <div class="text-center">
  <h3>Your bookings:</h3>
  <% @bookings.each do |b| %>
    <h4>Tool:</h4>
    <%= b.tool.name %>
    <h4>Start date:</h4>
    <%= b.start_date %>
    <h4>End date:</h4>
    <%= b.end_date %>
  <% end %>
</div> -->
