<div>
  <%= render "components/banner"%>
</div>
<div class="box" class="col-sm-3 col-sm-offset-3">
  <div class="text-center"><i class="fas fa-wrench"></i>
    <div><%= "Find tool online" %></div>
  </div>
  <div class="text-center">
    <i class="fas fa-calendar-alt"></i><div><%= "Select pick up date & time " %></div>
  </div>
  <div class="text-center">
    <i class="fas fa-handshake"></i><div><%= "Get confirmation from the owner" %></div>
  </div>

  <div class="text-center">
    <i class="fas fa-map"></i><div><%= "Pickup tool" %></div>
  </div>
</div>
