<div>
  <%= render "components/banner"%>
</div>
<div class="box" class="col-sm-3 col-sm-offset-3">
      <div><%= "1. Enter the tool needed" %></div>
      <div><%= "2. Select pick up date & time " %></div>
      <div><%= "3. Get confirmation from the owner" %></div>
      <div><%= "4. Happy DIY" %></div>
</div>
