<div>
<%= render "components/banner"%>
  </div>

<div class="container">
  <div class="row">
    <ul>
    <div class="col-sm-6 col-sm-offset-3">
      <li><%= "1. Find the Tool you need" %></li>
      <li><%= "2. Select pick up date & time of the tool" %></li>
      <li><%= "3. Get comfirmation of owner" %></li>
      <li><%= "4. Happy DYI" %></li>
    </div>
    </ul>
  </div>
</div>


